.carousel {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.carousel__container__content {
  display: flex;
  width: 55vw;
  height: 50vh;
  position: relative;

  overflow: hidden;
}

.carousel__dots {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  font-size: 3.6rem;

  background: var(--color-grey);

  cursor: pointer;

  transition: all 0.2s;
}

.btn:active,
.btn:focus {
  outline: none;
}

@media (hover: none) and (pointer: coarse) {
  .btn:active {
    background: var(--color-orange);
  }

  .btn:active .btn--fill {
    fill: white;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background: var(--color-orange);
  }

  .btn:hover .btn--fill {
    fill: white;
  }
}

.btn--fill {
  fill: var(--color-orange);
  transition: all 0.2s;
}
